.home-hero {
	position: relative;
    width: 100%;
    height: 230px;
    background-position: center center;
    background-image: url(/app/images/home-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid rgba(70, 64, 56, 0.5);
}

.blade {
	margin-bottom: 1px;
	padding: 0;
}

	    .blade__heading {
	    	position: relative;
	        display: -webkit-box;
	        display: -ms-flexbox;
	        display: flex;
	        z-index: 10;
	        padding: 10px;
	        height: 100%;
	        min-height: 80px;
	        font-size: 20px;
	        font-weight: bold;
	        color: #000000;
	        background-color: #ffffff;
	        -webkit-box-align: center;
	            -ms-flex-align: center;
	                align-items: center;
	        -webkit-transition: all .3s ease-in-out;
	        transition: all .3s ease-in-out;
	        cursor: pointer;
	    }

	    .blade__icon {
	    	position: relative;
            width: 50px;
            height: 50px;
            padding-right: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 50px;
                    flex: 0 0 50px;
	    }

        .blade__icon--small {
            width: 30px;
            height: 30px;
        }

	    .blade__sub-heading {
			display: block;
		    margin-bottom: 5px;
		    font-size: 16px;
		    font-weight: bold;
	    }

	    .blade__heading-description {
			margin: 0;
		    font-size: 14px;
		    font-weight: 100;
		    line-height: 14px;
	    }

	    .blade__heading-dots {
            position: absolute;
            top: 50%;
            right: 10px;
            width: 5px;
            height: 5px;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
            background-color: #464037;
            border-radius: 50%;
        }

        .blade__heading-dots:before,
        .blade__heading-dots:after {
            content: '';
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #464037;
        }

        .blade__heading-dots:before {
            margin-top: -10px;
        }

        .blade__heading-dots:after {
            margin-top: 15px;
        }