.accordion {}

.accordion__list {
	background-color: #fff;
}

	.accordion__title {
		padding: 20px 10px;
		color: #000000;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid #b2b2b2;
	}

	.accordion__content {
		display: none;
		padding: 10px;
		font-weight: lighter;
		background-color: #efefef;
	}

		.accordion__content-title {

		}

		.accordion__content-description {

		}

		.accordion__content-list {

		}