.accordion {}

.accordion__list {
	background-color: #fff;
}

	.accordion__title {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 20px 10px;
		border-bottom: 1px solid #bdbdbd;
	}

		.accordion__title-text {
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
			color: #000000;
			font-size: 18px;
			font-weight: bold;
		}

		.accordion__arrow {
			position: relative;
		    width: 30px;
		}

			.accordion__arrow-line {
				display: block;
		        position: absolute;
		        top: 50%;
		        left: 52%;
		        width: 30%;
		        height: 3px;
		        border-radius: 3px;
		        background-color: #2cabff;
		        -webkit-transform: rotate(45deg);
		                transform: rotate(45deg);
		        -webkit-transition: all .3s ease-in-out;
		        transition: all .3s ease-in-out;
			}

			.accordion__arrow-line--right {
				top: 50%;
		        left: auto;
		        right: 0%;
		        -webkit-transform: rotate(-45deg);
		                transform: rotate(-45deg);
			}

	.accordion__content {
		display: none;
		padding: 10px;
		font-weight: lighter;
		background-color: #f3f3f2;
	}

	.accordion__content--is-active {
		display: block;
		padding: 10px;
		font-weight: lighter;
		background-color: #f3f3f2;
	}

		.accordion__content-title {

		}

		.accordion__content-description {

		}

		.accordion__content-list {

		}