.retailer {
	padding: 10px;
}

	.retailer__title {
		padding-top: 10px;
		text-align: center;
	    font-size: 22px;
	    font-weight: lighter;
	}

	.retailer__title--bottom-spacing {
		padding-bottom: 15px;
	}

	.retailer__description {
		font-size: 15px;
		font-weight: lighter;
	}

	.retailer__search-container {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

		.retailer__search {
			padding: 4px;
			width: 100%;
			line-height: 30px;
			font-size: 14px;
			border: 1px solid #0099ff;
		}

		.retailer__search-icon {
			display: inline-block;
		    width: 40px;
		    height: 40px;
		    position: absolute;
		    top: 0;
		    right: 0;
		    background-color: #0099ff;
		    background-image: url(/app/images/icon-search.png);
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: 20px;
		}

	.retailer__name {
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: bold;
	}

	.retailer__address {
		margin: 0;
		font-size: 15px;
		font-weight: lighter;
		text-decoration: underline;
		cursor: pointer;
	}

	.retailer__address--no-underline {
		text-decoration: none;
	}

	.retailer__address--bottom-spacing {
		margin-bottom: 10px;
	}

	.retailer__action {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 15px;
	}

		.retailer__action-box {
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-flex: 1;
		        -ms-flex: 1;
		            flex: 1;
		    position: relative;
		    margin: 0 5px;
		    padding: 10px 5px;
		    text-align: center;
		    color: #0099ff;
		    border: 1px solid #0099ff;
		    border-radius: 5px;
		    -webkit-box-align: center;
		        -ms-flex-align: center;
		            align-items: center;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		        -ms-flex-direction: column;
		            flex-direction: column;
		    cursor: pointer;
		}

			.retailer__action-icon {
				margin-bottom: 5px;
				height: 30px;
			}

			.retailer__action-text {
				font-size: 14px;
			    font-weight: bold;
			    text-align: center;
			}

	.retailer__results-list {}

		.retailer__results-list-item {
			padding: 15px 0;
			border-bottom: 1px solid #ccc;
		}

		.retailer__results-list-item:last-child {
			border: none;
		}

		.retailer__mileage {
			margin-bottom: 5px;
			font-size: 14px;
			font-weight: bold;
			color: #666;
		}

		.retailer__warranty {
			margin: 0;
			color: #666;
			font-size: 14px;
			font-weight: lighter;
		}

	.retailer__requirements {
		padding: 10px;
		border-top: 1px solid #b2b2b2;
		background: #fff;
	}

		.retailer__requirements-title {
			margin: 0;
			padding: 10px 0;
			font-size: 18px;
			font-weight: lighter;
		}

		.retailer__requirements-list {
			margin: 0;
			line-height: 18px;
			font-size: 14px;
			font-weight: lighter;
		}

		.retailer__requirements-list li {
			padding-bottom: 10px;
		}

		.retailer__requirements-text {
			margin: 0 0 10px 0;
			line-height: 18px;
			font-size: 14px;
			font-weight: lighter;
		}

		.retailer__requirements-footer {
			font-size: 12px;
			font-weight: lighter;
		}
