body {
	margin: 0;
	font-family : sans-serif;
	background-color: #363331;
}

/* Heading */
header {
	display: block;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 50px;
    background: #0b629a;
    text-align: center;
}

	.header__img {
	    position: relative;
	    margin-top: 10px;
	    height: 30px;
	    z-index: 2;
	    cursor: pointer;
	}

	.header__icon {
		position: absolute;
	    width: 30px;
	    left: 10px;
	    top: 10px;
	    cursor: pointer;
	}

	.header__menu {
		position: absolute;
		top: 10px;
		right: 10px;
	}

		.header__menu-text {
			display: block;
		    padding-top: 3px;
		    text-align: center;
		    font-size: 11px;
		    color: #ffffff;
		}

		.header__toggle {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
	        -ms-flex-pack: distribute;
	            justify-content: space-around;
	        margin: 0 auto;
	        width: 30px;
	        height: 20px;
		}

			.header__toggle-line {
	            width: 100%;
	            height: 2px;
	            background-color: #ffffff;
	            -webkit-transform: translateY(-50%);
	                    transform: translateY(-50%);
	            -webkit-transition: all .3s ease-in-out;
	            transition: all .3s ease-in-out;
			}
/* Vehicle Bar */
.vehicle__name {
	position: relative;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #2b2928;
}

/* Page Content */
.page {
	padding-top: 50px;
}

	.page-title {
		padding: 15px 0;
	    font-size: 20px;
	    text-align: center;
	    color: #fff;
	}

	.page__content {
		padding: 0 15px;
		/*background-image: url(/app/images/bg-shade.png);*/
	}

		.page__content-body {
			background-color: #fff;
		}
/* Button Style */
.btn__group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 15px;
}

.btn {
	display: block;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	font-size: 15px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

	.btn-primary {
		height: 40px;
		line-height: 40px;
		font-weight: bold;
		color: #fff;
		background: #0099ff; 
	}

	.btn-secondary {
		height: 40px;
		line-height: 40px;
		font-weight: bold;
		color: #fff;
		background: #6b6b6b;
	}

/* Helper Class */
.col-2 {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 49%;
	        flex: 0 0 49%;
}
